{:deps    {medley/medley {:mvn/version "1.4.0"}}
 :aliases {:dev {:extra-paths ["examples"]
                 :extra-deps  {hashp/hashp {:mvn/version "0.2.2"}}
                 :main-opts   ["-e" "(require,'hashp.core)"]}}}